Repository shahidul-csu/class-scheduler, pull requests merged in 2022-05, with the labels that each got.

#29 Crossover and mutation
  backend/ClassSchedulerBackend/tests.py
  backend/ClassSchedulerBackend/tests_manager/__init__.py
  backend/ClassSchedulerBackend/tests_manager/data_access_view_tests.py
  backend/ClassSchedulerBackend/tests_manager/test_utils.py
  backend/ClassSchedulerBackend/views.py
  backend/algorithm/algorithm.py
  backend/algorithm/base_entities.py
  backend/algorithm/error.py
  backend/algorithm/param_entities.py
  backend/algorithm/parameters.py
  backend/algorithm/run.sh
  backend/algorithm/test_data.py
  backend/backend/urls.py
Labels: Genetic Algorithm

#31 Settings pages
  .vs/slnx.sqlite
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/components/Header.js
  frontend/src/components/LandingPage.js
  frontend/src/components/faculty-submitAvailability/Data.js
  frontend/src/components/faculty-submitAvailability/Display.js
  frontend/src/components/settings/SettingsInfo.js
  frontend/src/components/settings/SettingsUsers.js
  frontend/src/styles/Display.css
  frontend/src/styles/LandingPage.css
  frontend/src/styles/SettingsInfo.css
  frontend/src/styles/SettingsUsers.css
Labels: Frontend

#33 User settings logic
  backend/ClassSchedulerBackend/views.py
  backend/backend/settings.py
  backend/backend/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/settings/SettingsUsers.js
  frontend/src/network/RequestTemplates.js
  frontend/src/network/Router.js
Labels: bug, Frontend, Backend

#34 Settings add course and classroom
  frontend/src/App.js
  frontend/src/components/settings/SettingsAddClassroom.js
  frontend/src/components/settings/SettingsAddCourse.js
  frontend/src/components/settings/SettingsInfo.js
  frontend/src/components/settings/SettingsUsers.js
  frontend/src/styles/settings/SettingsAddClassroom.css
  frontend/src/styles/settings/SettingsAddCourse.css
  frontend/src/styles/settings/SettingsInfo.css
  frontend/src/styles/settings/SettingsUsers.css
Labels: Frontend
