Repository shahidul-csu/class-scheduler, pull requests merged in 2022-04, with the labels that each got.

#6 Latest Admin Faculty Preference page
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/App.js
  frontend/src/components/admin-faculty-preferences/Button.js
  frontend/src/components/admin-faculty-preferences/Display.js
  frontend/src/components/admin-faculty-preferences/Dropdown.js
  frontend/src/components/admin-faculty-preferences/Preference.js
  frontend/src/components/admin-faculty-preferences/Preferences.js
  frontend/src/styles/Display.css
  frontend/src/styles/Dropdown.css
  frontend/src/styles/Header.css
  frontend/src/styles/Preference.css
Labels: Frontend

#7 Population generation
  backend/algorithm/algorithm.py
  backend/algorithm/base_entities.py
  backend/algorithm/error.py
  backend/algorithm/param_entities.py
  backend/algorithm/parameters.py
  backend/algorithm/test_data.py
Labels: Genetic Algorithm

#8 Faculty submit preferences v2
  frontend/src/App.js
  frontend/src/components/admin-faculty-preferences/Answer.js
  frontend/src/components/admin-faculty-preferences/Button.js
  frontend/src/components/admin-faculty-preferences/Display.js
  frontend/src/components/admin-faculty-preferences/Preference.js
  frontend/src/components/faculty-submitPreferences/Data.js
  frontend/src/components/faculty-submitPreferences/Display.js
  frontend/src/components/faculty-submitPreferences/Dropdown.js
  frontend/src/components/faculty-submitPreferences/PreferenceDropdown.js
  frontend/src/components/faculty-submitPreferences/PreferenceTimes.js
  frontend/src/styles/Display.css
  frontend/src/styles/PreferenceDropdown.css
Labels: Frontend

#26 Generic ap is backend
  backend/ClassSchedulerBackend/serializers.py
  backend/ClassSchedulerBackend/view_manager/__init__.py
  backend/ClassSchedulerBackend/view_manager/data_access_view.py
  backend/ClassSchedulerBackend/view_manager/view_utils.py
  backend/ClassSchedulerBackend/views.py
  backend/backend/urls.py
Labels: Backend

#25 Made class views for each model table.
  backend/ClassSchedulerBackend/serializers.py
  backend/ClassSchedulerBackend/view_manager/__init__.py
  backend/ClassSchedulerBackend/view_manager/data_access_view.py
  backend/ClassSchedulerBackend/view_manager/view_utils.py
  backend/ClassSchedulerBackend/views.py
Labels: Backend

#24 Created webpage for faculty availability.
  frontend/src/App.js
  frontend/src/components/faculty-submitAvailability/Data.js
  frontend/src/components/faculty-submitAvailability/Display.js
  frontend/src/components/faculty-submitAvailability/Dropdown.js
  frontend/src/components/faculty-submitAvailability/PreferenceDropdown.js
  frontend/src/components/faculty-submitAvailability/PreferenceTimes.js
Labels: Frontend
